[submodule "AreYouBoring/feature-extraction"]
	path = AreYouBoring/feature-extraction
	url = git://github.com/adikhosla/feature-extraction.git
[submodule "feature-extraction"]
	path = feature-extraction
	url = git://github.com/adikhosla/feature-extraction
